$pad-width: 90px;
$pad-height: 70px;
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');

* {
  font-family: 'Russo One', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #8D8D8D;
  overflow: hidden;
}

#drum-machine {
  width: 600px;
  height: 240px;
  background-color: #B3B3B3;
  margin: auto;
  margin-top: 30vh;
  border: 5px solid #FFA500;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  #keyboard {
    width: 320px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .drum-pad {
      width: $pad-width;
      height: $pad-height;
      background-color: #8a7474;
      text-align: center;
      line-height: $pad-height;
      border: 1px black solid;
      border-radius: 10px;
      box-shadow: 3px 3px 3px;
    }
  }
  #logo {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    p {
      display: inline-block;
      font-style: italic;
    }
    i {
      margin-left: 8px;
    }
  }
  #options {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    #switch {
      width: 60px;
      height: 40px;
      text-align: center;
      #switch-name {
        width: 100%;
        height: 50%;
      }
      #switch-box {
        width: 100%;
        height: 50%;
        background-color: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        #switch-button {
          width: 26px;
          height: 16px;
          background-color: #0000FF;
          margin: 2px;
        }
      }
    }
    #display {
      width: 170px;
      height: 50px;
      background-color: #808080;
      text-align: center;
      line-height: 50px;
    }
    #volume {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.drum-pad, #switch-button, #volume :hover {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  #drum-machine {
    width: 350px;
    height: 500px;
    flex-direction: column-reverse;
    margin-top: 10vh;
  }
}